//main-colors

$main-dark-color: rgba(16, 16, 29, 0.9);
$main-white-color: #FFFFFF;
$main-black-color: #000000;
$main-theme-color: #3E9CDC;
$form-input-bg-color: rgba(255, 255, 255, 0.85);
$form-input-text-color: #272733;
$bg-footer-color: #3D4050;
$payment-title-color: #C3C3C3;

//Viewports

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

//Font option

$fz-default: 20px;
$font-family-default: "Lato", "Arial", sans-serif;